@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800,200);
 
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
 
 

body {
  padding-top: 54px;
  margin: 0;
  font-family: 'Tajawal', sans-serif;
  text-align: center;
}

 
p {
  text-align: center;
  padding: 10px;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
  .bgimg {
    height: 60px;
  }
}

section {
  margin: 30px 0 0 0;
}

@media (max-width: 992px) {
  .bgimg {
    height: 60px;
  }
}

@media (max-width: 550px) {
  .bgimg {
    height: 60px;
  }
}

/*********************************************************************
|                  تصميم وبرمجة قتيبة                                       |
|                مشروع دليل المراكز الطبية                                     |
**********************************************************************/
/*
الوان الموقع
*/
 

/*------تجاوب فديوهات  يوتيوب------*/
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.entry-content img,
.entry-content iframe,
.entry-content object,
.entry-content embed {
  max-width: 100%;
}

/*-----قيد التطوير------*/
 
 

.img {
  Width: 30px;
}

.bg {
  background-color: #007bff;
  border-color: #007bff;
}

.bg2 {
  background-color: #007bff;
}

.imgo {
  position: absolute;
  border-radius: 50%;
  height: 80px;
  background-color: #007bff;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.15) !important;
  width: 80px;
  margin: -40px 10px 0 0;
  padding: 20px 7px 10px 10px;
  z-index: 1;
}

.imgo2 {
  position: absolute;
  border-radius: 50% 0 50% 50%;
  background-color: #007bff;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.15) !important;
  width: 50px;
  margin: 0;
  padding: 12px 7px 10px 10px;
  z-index: 3;
  opacity: 0.95;
}

.imgo3 {
  position: absolute;
  border-radius: 50% 0 50% 50%;
  height: 45px;
  background-color: #007bff;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.15) !important;
  width: 45px;
  margin: 0;
  padding: 12px 7px 10px 10px;
  z-index: 1;
  opacity: 0.5;
}

.h {
  height: 200px;
}

.bor3 {
  border-radius: 15px;
  margin: 10px;
  height: 200px;
  padding: 10px;
}

.bor3:hover {
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.15) !important;
}

.bor1 {
  margin: 10px;
  height: 377px;
}

.bor1:hover {
  border-radius: 0 0 15px 15px;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.15) !important;
}

.wi {
  width: 100%;
}

.bgt {
  padding: 80px;
  font-size: 20px;
}

.img2 {
  width: 100%;
}

.box {
  display: inline-block;
  text-align: right;
  margin: 15px 0 0 0;
  padding: 25px 13px 15px 15px;
}

.p2 {
  display: inline-block;
}

.p-box {
  padding: 3px;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.15) !important;
  width: 300px;
  margin: 5px;
}

footer {
  width: 100%;
}

/* .imgh {
  opacity: 0.3;
  background-repeat: no-repeat;
   max-width: 100%;  
  height: 200px;
  background: url("assets/img/b.png") no-repeat center center;
  background-size: cover;
} */

footer {
  clear: both;
}

.contact {
  align-content: center;
  text-align: center;
  width: 300px;
  padding: 20px;
  margin: 100px auto 50px auto;
  border-radius: 15px;
}

